#header{
	position: relative;
	background-color: #68C1C9;
	opacity: 0.7;
	width: 100%;
	height: 13%;
	color: white;
	box-sizing: border-box;
	padding: 2px ;
	overflow: auto;
	box-shadow: 10px 8px 2px 2px black ;
}

#head{
	position: relative;
	margin-top: 0;
	vertical-align: top;
	font-size: 100px;
}
#foot{
	position: absolute;
	margin-top: 5px;
}

input[type=search]{
	position: relative;
	float: right;
	padding: 10px 30px;
	margin-top: 8px;
	box-sizing: border-box;
	opacity: 0.8;
}

#side_filter{
	position: absolute;
	margin-top: 60px;
	margin-left: 10px;
	height: 70%;
	width: 18%;
	overflow: auto;
	background-color: #1C8C4D;
	opacity: 0.9;
	padding: 2px;
	font-family: 'Cormorant SC', serif;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 2px 2px black;
}
#products{
	position: absolute;
	width: 70%;
	height: 70%;
	background-color: #49444F;
	margin-left: 320px;
	overflow: auto;
	margin-top: 60px;
	border: 1px solid black;
}


#footer{
	position: absolute;
	margin-top: 500px;
	height: 15%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	/*border: 1px solid black;*/
	overflow: auto;
	z-index: 1;
}
body{
font-family: 'Open Sans', sans-serif;
font-size: 30px;
color:black;
background-color: #F3F3F3;
}
hr{
    /*position: absolute;*/
	border: 1px solid white;
	margin-top: 40px;
}
h3{
	font-family: 'Mogra', cursive;
}
.pro{
	position: relative;
	height: 60%;
	width: 30%;
	margin-left: 10px;
	background-color: white;
	border: 1px solid black;
}
